* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
}

.header > div {
  flex: 1;
}

.btn {
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  width: 10%;
  background-color: #f0f0f0;
  animation: dropDown 1s ease-out;
}

@keyframes dropDown {
  0% {
    transform: translateY(100);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
